.page {
  padding-left: 50px;
  padding-right: 50px;

  .title {
    font-size: 32px;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .description {
    font-size: 18px;
    margin-bottom: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}